<div class="container" (scroll)="loadAuthorsLazy($event)">
    <div class="ui-g author-item" *ngFor="let author of authors">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6">
                   Nombre: {{author.name}}
                </div>
                <div class="ui-g-12 ui-md-6">
                   Email: {{author.email}}
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            Fecha de Nacimiento: {{author.dateOfBirth | date}}
        </div>
    </div>
</div>