<div class="ui-fluid">
  <div class="ui-g">
      <div class="ui-md-2">
        <authors-desktop class="desktop"></authors-desktop>
        <authors-mobile class="mobile"></authors-mobile>
      </div>
      <div class="ui-g-12 ui-md-10">
        <!-- <p-virtualScroller [value]="lazyCars" scrollHeight="500px" [itemSize]="150" [rows]="100" [cache]="false" 
                [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalLazyCarsLength">
            <p-header>
                List of Cars
            </p-header>
            <ng-template let-author pTemplate="item" let-i="index">
                <div class="ui-g author-item">
                    <div class="ui-g-12 ui-md-10">
                        <div style="font-size: 24px; text-align: center; padding-top: 48px">{{i}}</div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="ui-g">
                            <div class="ui-g-6 ui-sm-6"> </div>
                            <div class="ui-g-6 ui-sm-6">{{car?.vin}}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-car pTemplate="loadingItem">
                <div class="ui-g car-item empty-car-item">
                    <div class="ui-g-12 ui-md-2">
                        <div class="empty-car-item-index"></div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <div class="empty-car-item-image"></div>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <div class="ui-g">
                            <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                            <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                            <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                            <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-virtualScroller> -->
      </div>

  </div>
</div>