@import "./theme/variable.scss";

@font-face{
    font-family: 'helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Helvetica/HelveticaWorld-Regular.ttf')
}

@font-face{
    font-family: 'helvetica';
    font-style: italic;
    font-weight: normal;
    src: url('assets/fonts/Helvetica/HelveticaWorld-Italic.ttf')
}

@font-face{
    font-family: 'helvetica';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/Helvetica/HelveticaWorld-Bold.ttf')
}

@font-face{
    font-family: 'helvetica';
    font-style: italic;
    font-weight: bold;
    src: url('assets/fonts/Helvetica/HelveticaWorld-BoldItalic.ttf')
}

@font-face{
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Helvetica/HelveticaNeue.ttf')
}

@font-face{
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/Helvetica/HelveticaLight.ttf')
}

body {
    font-family: 'helvetica';
    color: $colors-light;
    background-color: $colors-dark;
    .ui-sidebar {
        background-color: $colors-dark !important;
        color: $colors-light !important;
    }
}

@media (max-width: 640px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: initial; 
    }
}

@media (min-width: 641px) {
    .desktop {
        display: initial;
    }
    .mobile {
        display: none !important;
    }
}