@import "../../../../theme/variable.scss";

.container {
    height: 100%;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    width: 16.6667%;
    &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-background-color;
    }
    &::-webkit-scrollbar {
        width: $webkit-scrollbar-width;
        background-color: $webkit-scrollbar-background-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $webkit-scrollbar-thumb-background-color;	
        background-image: $webkit-scrollbar-thumb-background-image;
    }
    &.container--mobile {
        width: 82%;
    }
}

.author-item {
    height: 100px;
    background-color: #80808040;
    border-radius: 10px;
    margin-top: 10px;
    &:hover {
        cursor: pointer;
    }
}